@media screen and (max-width: 450px) {
  .container__small-card {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .container__small-card-content {
    display: flex;
    flex-direction: column;
  }
}
