@media screen and (max-width: 450px) {
  .container__articles {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
  .articles__others {
    display: flex;
    flex-direction: column;
  }
}
